In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df=pd.read_csv('/content/Banking.csv')

In [5]:
print(df.head)

<bound method NDFrame.head of      Client ID              Name  Age  Location ID Joined Bank  \
0     IND81288     Raymond Mills   24        34324      6/5/19
1     IND65833     Julia Spencer   23        42205    10/12/01
2     IND47499    Stephen Murray   27         7314  25-01-2010
3     IND72498    Virginia Garza   40        34594  28-03-2019
4     IND60181   Melissa Sanders   46        41269  20-07-2012
...        ...               ...  ...          ...         ...
2995  IND66827         Earl Hall   82         8760     9/10/14
2996  IND40556  Billy Williamson   44        32837      5/2/09
2997  IND72414      Victor Black   70        36088  29-12-2009
2998  IND46652       Andrew Ford   56        24871  13-02-2006
2999  IND40216        Amy Nguyen   79        38518     8/12/05

          Banking Contact Nationality                     Occupation  \
0          Anthony Torres    American           Safety Technician IV
1        Jonathan Hawkins     African            Software Consultant
2           Anthony Berry    European             Help Desk Operator
3              Steve Diaz    American                   Geologist II
4              Shawn Long    American            Assistant Professor
...                   ...         ...                            ...
2995       Joshua Bennett    American       Accounting Assistant III
2996          Dennis Ruiz    European                      Paralegal
2997          Joshua Ryan    American                Statistician IV
2998  Nicholas Cunningham    European  Human Resources Assistant III
2999           Joe Hanson    American            Biostatistician III

     Fee Structure Loyalty Classification  ...  Bank Deposits  \
0             High                   Jade  ...     1485828.64
1             High                   Jade  ...      641482.79
2             High                   Gold  ...     1033401.59
3              Mid                 Silver  ...     1048157.49
4              Mid               Platinum  ...      487782.53
...            ...                    ...  ...            ...
2995          High                   Gold  ...     1089957.03
2996           Mid                   Gold  ...      136891.32
2997           Low                   Jade  ...      214860.89
2998           Mid                   Jade  ...      742630.22
2999          High                   Jade  ...       65617.66

      Checking Accounts  Saving Accounts  Foreign Currency Account  \
0             603617.88        607332.46                  12249.96
1             229521.37        344635.16                  61162.31
2             652674.69        203054.35                  79071.78
3            1048157.49        234685.02                  57513.65
4             446644.25        128351.45                  30012.14
...                 ...              ...                       ...
2995          532867.88        657849.62                  12947.31
2996           56581.74         93195.61                  23205.69
2997          158726.06         35539.15                  30291.81
2998          404638.26         56411.33                   6413.14
2999           77769.08         32371.38                   8992.36

      Business Lending  Properties Owned  Risk Weighting  BRId  GenderId  IAId
0           1134475.30                 1               2     1         1     1
1           2000526.10                 1               3     2         1     2
2            548137.58                 1               3     3         2     3
3           1148402.29                 0               4     4         1     4
4           1674412.12                 0               3     1         2     5
...                ...               ...             ...   ...       ...   ...
2995        1238859.91                 1               3     3         2     4
2996         277171.07                 1               2     3         2     5
2997         502947.22                 2               2     3         2     6
2998        1538368.60                 3               1     3         2     7
2999         329412.55                 1               1     3         2     8

[3000 rows x 25 columns]>

In [8]:
df.shape

(3000, 25)

In [10]:
df.info(_)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 3000 non-null   object
 1   Name                      3000 non-null   object
 2   Age                       3000 non-null   int64
 3   Location ID               3000 non-null   int64
 4   Joined Bank               3000 non-null   object
 5   Banking Contact           3000 non-null   object
 6   Nationality               3000 non-null   object
 7   Occupation                3000 non-null   object
 8   Fee Structure             3000 non-null   object
 9   Loyalty Classification    3000 non-null   object
 10  Estimated Income          3000 non-null   float64
 11  Superannuation Savings    3000 non-null   float64
 12  Amount of Credit Cards    3000 non-null   int64
 13  Credit Card Balance       3000 non-null   float64
 14  Bank Loans                3000 non-null   float64
 15  Bank Deposits             3000 non-null   float64
 16  Checking Accounts         3000 non-null   float64
 17  Saving Accounts           3000 non-null   float64
 18  Foreign Currency Account  3000 non-null   float64
 19  Business Lending          3000 non-null   float64
 20  Properties Owned          3000 non-null   int64
 21  Risk Weighting            3000 non-null   int64
 22  BRId                      3000 non-null   int64
 23  GenderId                  3000 non-null   int64
 24  IAId                      3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

In [12]:
df.describe()

,Age,Location ID,Estimated Income,Superannuation Savings,Amount of Credit Cards,Credit Card Balance,Bank Loans,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,3.000000e+03,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,51.039667,21563.323000,171305.034263,25531.599673,1.463667,3176.206943,5.913862e+05,6.715602e+05,3.210929e+05,2.329084e+05,29883.529993,8.667598e+05,1.518667,2.249333,2.559333,1.504000,10.425333
std,19.854760,12462.273017,111935.808209,16259.950770,0.676387,2497.094709,4.575570e+05,6.457169e+05,2.820796e+05,2.300078e+05,23109.924010,6.412303e+05,1.102145,1.131191,1.007713,0.500067,5.988242
min,17.000000,12.000000,15919.480000,1482.030000,1.000000,1.170000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,45.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000
25%,34.000000,10803.500000,82906.595000,12513.775000,1.000000,1236.630000,2.396281e+05,2.044004e+05,1.199475e+05,7.479440e+04,11916.542500,3.748251e+05,1.000000,1.000000,2.000000,1.000000,5.000000
50%,51.000000,21129.500000,142313.480000,22357.355000,1.000000,2560.805000,4.797934e+05,4.633165e+05,2.428157e+05,1.640866e+05,24341.190000,7.113147e+05,2.000000,2.000000,3.000000,2.000000,10.000000
75%,69.000000,32054.500000,242290.305000,35464.740000,2.000000,4522.632500,8.258130e+05,9.427546e+05,4.348749e+05,3.155750e+05,41966.392500,1.185110e+06,2.000000,3.000000,3.000000,2.000000,15.000000
max,85.000000,43369.000000,522330.260000,75963.900000,3.000000,13991.990000,2.667557e+06,3.890598e+06,1.969923e+06,1.724118e+06,124704.870000,3.825962e+06,3.000000,5.000000,4.000000,2.000000,22.000000